body{
    font-family: 'Raleway', serif;
    font-family: 'Roboto', sans-serif;;
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

li{
    list-style-type: none;
}

a{
    text-decoration:none;
}

.header{
    padding-top: 20px;
    padding-bottom: 20px;
    background: #FFFFFF;
    display: inline-flex;
}

.logo-link{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #2196F3;
        margin-left: 215px;
        margin-right: 93px;
}

.logo-accent{
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #000000;
}

.header-list{
    display: inline-flex;
}

.studio{
    margin-right: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    display: inline;
}

.studio-name {
    color: #212121;
}

.studio-name:hover,
.studio-name:focus {
    color: #2196F3;
}

.portfolio{
    margin-right: 50px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        display: inline;
 
}

.portfolio-name{
    color: #212121;
}

.portfolio-name:hover,
.portfolio-name:focus {
    color: #2196F3;
}

.contacts{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        display: inline;
}

.contacts-name{
    color: #212121;
}

.contacts-name:hover,
.contacts-name:focus {
    color: #2196F3;
}

.mg-tel{
    display: inline-flex;
}

.gm{
    margin-left: 331px;
    margin-right: 50px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575;
        display: inline;
}

.gm:hover,
.gm:focus {
    color: #2196F3;
}

.tel{
    margin-right: 215px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575;
        display: inline;
}

.tel:hover,
.tel:focus {
    color: #2196F3;
}

.line{
    border: 1px solid #ECECEC;
}

.section1{
    margin-top: 94px;
    margin-left: 600px;
    margin-bottom: 34px;
}

.section1-list{
    display: inline-flex;
    flex-wrap: wrap;
}

.list-button{
    background: #F5F4FA;
    border-radius: 4px;
}

.button{
    margin-right: 8px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.section2{
    margin-left: 305px;
    margin-bottom: 94px;
    justify-content:center;
}

.section2-list{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 34px;
    width: 1400px;
}

.list-exp{
    position: relative;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

/* footer */

.footer{
    background: #2F303A;
    height: 100%;
}

.footer-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    padding-left: 200px;
    padding-top: 60px;
    margin-bottom: 20px;
}

.footer-accent {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}

.footer-list{
    padding-left: 165px;
    margin-bottom: 60px;
}

.footer-address{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        margin-top: 20px;
        margin-bottom: 10px;
}

.footer-gm{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 10px;
}

.footer-gm:hover,
.footer-gm:focus {
    color: #2196F3;
}

.footer-tel{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}

.footer-tel:hover,
.footer-tel:focus {
    color: #2196F3;
}
